html,
body,
div,
a,
h1 {
  margin: 0;
  padding: 0;
}

body {
  display: block;
  width: 100vw;
  height: 100vh;

  background-image: url(https://images.unsplash.com/photo-1453227588063-bb302b62f50b?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=cb544f8f6b9c25ac9f109fdecf760500);
  background-size: cover;

  opacity: 0;
  transition: all 100ms ease-in-out;
}

body:hover {
  opacity: 1.0;
}

h1 {
  margin-top: 64px;
  margin-bottom: 64px;

  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 32px;
  font-weight: 100;
  text-align: center;
}

.window {
  width: 292px;
  margin-left: auto;
  margin-right: auto;

  background: #d5d5d5;
  background-clip: content-box;
  border: 1px solid rgba(0,0,0,0.35);
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 0 4px 16px 4px rgba(0,0,0,0.18),
              0 16px 64px 0 rgba(0,0,0,0.18);

  font-family: 'Droid Sans', sans-serif;
  font-size: 9pt;

  -webkit-user-select: none;
  user-select: none;
  transition: max-height 200ms ease-in-out;
  overflow: hidden;
}

.toolbar {
  position: relative;
  display: flex;
  top: -1px;
  left: -1px;
  width: 100%;
  height: 48px;
  z-index: 1000;

  background-image: linear-gradient(#8e8b85, #615d59);
  border: 1px solid #4c4a47;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  box-shadow: 1px 0px 0 0 rgba(255,255,255,0.05) inset,
              -1px 0px 0 0 rgba(255,255,255,0.05) inset,
              0 1px 0 0 rgba(255,255,255,0.2) inset,
              0 -1px 0 0 rgba(255,255,255,0.1) inset;
}

#close-icon {
  margin-top: 16px;
  margin-left: 8px;
  margin-right: 8px;
}

.title {
  margin: 0;
  flex-grow: 1;

  color: #fbfbfb;
  font-weight: bold;
  line-height: 48px;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0,0,0,0.5);


}

#recent-icon {
  margin-top: 16px;
  margin-left: 8px;
  margin-right: 8px;
}

.display {
  position: relative;
  top: -2px;
  height: 86px;

  background-image: linear-gradient(#dad7bd, #e8e5d3);
  border-top: 1px solid #837d70;
  border-bottom: 1px solid #979186;
  box-shadow: 0 1px 0 0 rgba(0,0,0,0.1) inset,
              0 -1px 0 0 rgba(0,0,0,0.05) inset,
              0 1px 0 0 rgba(255,255,255,0.4);

  font-family: 'Open Sans Light', 'Open Sans', sans-serif;
  font-weight: 100;
}

.display * {
  margin: 8px;

  color: #6d6559;
  text-align: right;

  -webkit-user-select: all;
  user-select: all;
}

.input {
  font-size: 32px;
  line-height: 32px;
}

.output {
  border-top: 2px solid #c8c6b0;

  font-size: 22px;
  line-height: 32px
}

.row {
  display: flex;
}

.buttons .row a {
  display: inline-block;
  flex-grow: 0;
  width: 48px;
  height: 40px;
  margin: 4px;

  background-image: linear-gradient(#8e8b85, #615d59);
  border: 1px solid #4c4a47;
  border-radius: 2px;
  box-shadow: 1px 0px 0 0 rgba(255,255,255,0.05) inset,
              -1px 0px 0 0 rgba(255,255,255,0.05) inset,
              0 1px 0 0 rgba(255,255,255,0.2) inset,
              0 -1px 0 0 rgba(255,255,255,0.1) inset,
              0 1px 0 0 rgba(0,0,0,0.2);

  color: #fbfbfb;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(0,0,0,0.5);

}

.buttons .row a:hover {
  background-image: linear-gradient(rgba(255,255,255,0.1), rgba(255,255,255,0.1)),
                    linear-gradient(#8e8b85, #615d59);
}

.buttons .row a.symbol {
  font-size: 11pt;
}

.buttons .row a.orange {
  background-image: linear-gradient(#ffca7a, #ed5d1f);
  border: 1px solid #b84722;
}

.buttons .row a.red {
  background-image: linear-gradient(#ed5351, #ba2a28);
  border: 1px solid #b51820;
}

.buttons .row .label {
  display: inline-block;
  flex-grow: 1;
  height: 40px;
  margin: 4px;
  margin-left: 12px;

  line-height: 40px;
}

#science {
  transition: all 200ms ease-in-out;
}

#science[data-toggle='off'] {
  max-height: 0;
  opacity: 0;
}

#science[data-toggle='on'] {
  opacity: 1.0;
  max-height: 150px;
}

/*----- Sam's Switch -----*/

.switch {
    margin: 9px;
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 64px;
    height: 24px;
    padding: 3px;
    background-color: transparent;
    border-radius: 12px;
    cursor: pointer;
}

.switch-input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.switch-input:focus ~ .switch-handle {
    box-shadow: 0 0 4px 1px #469DF6, 0 1px 3px 0 rgba(0, 0, 0, 0.4);
}

.switch-group {
    display: inline-block;
    width: 100%;
}

/* No Label */

.switch.no-label  {
    width: 40px;
}

.switch.no-label > .switch-input:checked ~ .switch-handle {
    left: 20px;
}

.switch.no-label > .switch-trough {
    font-size: 0;
}

/*----- Switch Trough -----*/

.switch-trough {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    position: relative;
    display: block;
    height: inherit;
    font-size: 11px;
    text-transform: uppercase;
    background: #eceeef;
    border-radius: inherit;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);
    -webkit-transition: 0.15s ease-out;
    -moz-transition: 0.15s ease-out;
    -o-transition: 0.15s ease-out;
    transition: 0.15s ease-out;
    -webkit-transition-property: opacity background;
    -moz-transition-property: opacity background;
    -o-transition-property: opacity background;
    transition-property: opacity background;
}


.switch-trough:before, .switch-trough:after {
    position: absolute;
    top: 50%;
    margin-top: -0.5em;
    line-height: 1;
    -webkit-transition: inherit;
    -moz-transition: inherit;
    -o-transition: inherit;
    transition: inherit;
}

.switch-trough:before {
    content: attr(data-off);
    right: 11px;
    color: #aaa;
    text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}

.switch-trough:after {
    content: attr(data-on);
    left: 11px;
    color: white;
    text-shadow: 0 1px rgba(0, 0, 0, 0.2);
    opacity: 0;
}

/*----- Switch Handle -----*/

.switch-handle {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 22px;
    height: 22px;
    background: white;
    border-radius: 50%;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.4);
    -webkit-transition: left 0.15s ease-out;
    -moz-transition: left 0.15s ease-out;
    -o-transition: left 0.15s ease-out;
    transition: left 0.15s ease-out;
}

.switch-handle:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -6px 0 0 -6px;
    width: 12px;
    height: 12px;
    border-radius: 6px;
}


/*----- Checked Switch -----*/

.switch-input:checked ~ .switch-trough {
    background: #419BF9;
}

.switch-input:checked ~ .switch-trough:before {
    opacity: 0;
}

.switch-input:checked ~ .switch-trough:after {
    opacity: 1;
}

.switch-input:checked ~ .switch-handle {
    left: 44px;
}
